{{>header}}


<ol class="post-list">
    {{#postList}}
        <li>
            <article class="post">
                <div class="title">
                    <a href="{{postUrl}}" target="_blank">{{title}}</a>
                    <span>({{postUrl}})</span>
                </div>
                <div class="meta">
                    {{voteCount}} point(s) by {{userName}} on {{postedAt}}
                    |
                    <a href="/post/{{id}}">{{comments.size}} comment(s)</a>
                </div>
            </article>
        </li>
    {{/postList}}
</ol>


{{>footer}}





