{{>header}}

<div class="wrapper">
    <header>
        <h1>
            <a href="/">Just Tech News</a>
        </h1>
    </header>
    <main>
        {{ message }}
        <hr>
        {{ message2 }}
    </main>
</div>


{{>footer}}