

<div class="wrapper">
    <header>
        <h1>
            <a href="/api/homePage/loggedIn">Just Tech News</a>
        </h1>
        <nav>
            <a href="/api/logout">logout</a>
        </nav>
    </header>
    <main>
        {{>single-post}}
    </main>
</div>