
<div class="wrapper">
    <header>
        <h1>
            <a href="/homePage/loggedIn">Just Tech News</a>
        </h1>
        <nav>
            <a href="/logout">logout</a>
        </nav>
    </header>
    <main>
        {{>dashboard}}
    </main>
</div>