<div class="wrapper">
    <header>
        <h1>
            <a href="/homePage/loggedIn">Just Tech News</a>
        </h1>
        <nav>
            {{#loggedIn}}
                <a href="/logout">logout</a>
            {{/loggedIn}}
            {{^loggedIn}}
                <a href="/login">login</a>
            {{/loggedIn}}
        </nav>
    </header>
    <main>
        {{>single-post}}
    </main>
</div>