{{>header}}


<article class="post">
        <div class="title">
            <a href="{{post.postUrl}}" target="_blank">{{post.title}}</a>
            <span>({{post.postUrl}})</span>
        </div>
        <div class="meta">
            {{post.voteCount}} point(s) by {{post.userName}} on
            {{post.postedAt}}
            |
            <a href="/post/{{post.id}}">{{post.comments.size}} comment(s)</a>
        </div>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="comment-form">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>

<div class="comments">
    {{#commentList}}
        <section class="comment">
            <div class="meta">
                {{post.userName}} on {{post.postedAt}}
            </div>
            <div class="text">
                {{commentText}}
            </div>
        </section>
    {{/commentList}}
</div>

<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>


{{>footer}}


