<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup"/>
    </div>
    <div>
        <button type="submit" onclick="myFunction()">signup</button>
<!--        <script type="text/javascript" src="/js/login.js"></script>-->
    </div>
</form>

<script type="text/javascript">

    alert("Testing alert);

    </script>

</body>
</html>